#baner,footer{
    width: 1000px;
    padding: 0px;
    margin: 0;
}
#toanboweb{
    margin: 0 auto;
    width: 1000px;
}
#menu{
    width: 100%;
    height: 50px;
    background-color: aqua;
    margin: 0px;
    padding: 0px;
}
#menu ul{
    width: 620px;
    padding: 0px;
    margin:0px auto;
    background-color: black;
}
#menu ul li{
    width: 100px;
    height:50px;
    line-height: 50px;
    float: left;
    list-style: none;
    border-right:2px solid gray ;
    text-align: center;
}
#menu ul li a{
    text-decoration: none;
    padding: 10px;
}
#menu ul li a:hover{
    background-color: red;
}
article{
    width: 21%;
    height: 610px;
    background-color: skyblue;
    float: left;
}
dt, dd{
    border: 1px solid #000000;
    padding: 10px 0px 10px;
    margin: 0px;
}
dd:first-child{
    background-color: blue;
}
dd a{
    text-decoration: none;
}
.sanpham{
    background-color: gray;
    padding: 0px;
    height: 150px;
    margin: 0px;
    float: left;
    text-align: justify;
    border: 1px solid #ffffff;
}
aside{
    float: left;
    width: 79%;
}
.sanpham img {
   float:left;
   margin-right: 10px;
}
#banner{
    padding: 0 0 0 0;
}
footer{
    height: 100px;
    background-color: darkblue;
    float: left;
    clear: both;
} 