#toanboweb
{
	width:1000px;
	height:1500px;
	background:#CFF;
	margin:0px auto;
	border:solid 1px;	
}

#header
{
	width:100%;
	height:200px;
	background:url(./Images/banner.gif);	
}

#menu
{
	width:100%;
	height:35px;
	background:url(./Images/menu_bg.png);	
	margin-bottom:5px;
}

#menu a
{
	text-decoration:none;
	color:#fff;
	line-height:35px;
	display:block;
	width:140px;
	float:left;	
	text-align:center;
}
#menu a:hover
{
	background:#900;
	color:#FF0;	
}
#danhmucsanpham
{
	width:22%;
	height:1120px;
	background:#fff url(./Images/header.png) no-repeat top center;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}
#danhmucsanpham h4
{
	text-align:center;
	color:#03F;
	margin-top:10px;	
}

#dmspcap1
{
	list-style-image:url(./Images/line.bmp);	
}

#dmspcap1 a
{
	font-weight:bold;
	text-decoration:none;	
	color:#03F;
}

#dmspcap1 ul a
{
	font-weight:normal;
	color:#09F;	
}


#vungsanpham
{
	width:77%;
	height:1120px;
	background:#FF6;
	float:left;
}

#vungsanpham h4
{
	padding-left:15px;
	color:#F60;
	float:left;
	margin-top:20px;
	background:#CF0;	
}

#vung3sp
{
	float:left;	
}
/*dinh dang khung cho 1 san pham*/
#vung3sp div
{
	width:200px;
	background:#fff;
	text-align:center;
	padding:5px;
	float:left;
	margin:0px 20px;
}

#vung3sp div p
{
	color:#f00;
	font-weight:bold;	
}

footer
{
	width:100%;
	height:100px;
	background:#fff;	
	clear:left;
	
}
#menufooter a
{
	text-decoration:none;
	color:#036;
	line-height:35px;
	display:block;
	width:140px;
	float:right;	
	text-align:center;
}

#menufooter a:hover
{
	color:#F30;	
}

footer p
{
	text-align:center;	
}














